### NLP Task

4 data sets of Sentimental Analysis

tweets
* 1)litigious
*2)negative
*3)positive
*4)uncertainty

To Do Steps:
   * 1) Try to convert your csv files into dataframe with both  features and labels
   * 2) Apply text preprocessing on the given data set
   * 3) Apply Bag of words and TF-IDF

In [45]:
import pandas as pd
import numpy as np

In [3]:
litigious=pd.read_csv(r"D:\Data Sets\ML Assignment NLP\dataset\litigious.csv",encoding="latin-1")
litigious

        Unnamed: 0                                               Text Language
0                0  @Charlie_Corley @Kristine1G @amyklobuchar @Sty...       en
1                2  https://t.co/YJNiO0p1JV Flagstar Bank disclose...       en
2                4  OOPS. I typed her name incorrectly (todayâs ...       en
3               14  @SaltBurned [When the first sign of surrender ...       en
4               27  "It's Your fight to save the UK from the liars...       en
...            ...                                                ...      ...
204144      937821  ð¥ UNDER CONTRACT ð¥\n\nSo happy for my cl...       en
204145      937822  A little advice for us Browns fans on the Desh...       en
204146      937823  @nathaliejacoby1 My head is spinning. She is a...       en
204147      937840  @RepMTG @January6thCmte Make sure this is your...       en
204148      937848  John Wallâs contract is holy. That man was g...       en

[204149 rows x 3 columns]

###### Above dataset `data1`contains all the litigious tweets of having 204149 rows

In [5]:
negative=pd.read_csv(r"D:\Data Sets\ML Assignment NLP\dataset\negative.csv",encoding="latin-1")

In [6]:
negative.sample()

        Unnamed: 0                                               Text Language
197362      705282  #Breaking Seven-time champion Serena Williams ...       en

In [7]:
negative.drop(["Unnamed: 0"],axis='columns',inplace=True)

In [8]:
negative

                                                     Text Language
0       #BadBunny: Como dos gotas de agua: Joven se di...       es
1       It sucks for me since I'm focused on the natur...       en
2       @en_font Treballar a lâobra a partir dels 19...       ca
3       Social Security. Constant political crises dis...       en
4       @FilmThePoliceLA A broken rib can puncture a l...       en
...                                                   ...      ...
262215  @SBeaberry @EmmaVigeland No I haven't because ...       en
262216  Yâall talking bad on that dad feeding his on...       en
262217  8.SSR &amp; Disha Salian case should be solved...       en
262218  *ACCIDENT:  Damage Only* - Raleigh Fire Depart...       en
262219                         I'm lost and I'm found but       en

[262220 rows x 2 columns]

###### Above dataset `data2`contains all the negative tweets of having 262220  rows

In [9]:
a = negative['Language'].unique()
print(a)

['es' 'en' 'ca' 'pt' 'fr' 'hi' 'nl' 'ja' 'in' 'tl' 'zh' 'ru' 'und' 'tr'
 'sv' 'de' 'ar' 'ta' 'ht' 'pl' 'et' 'da' 'ko' 'no' 'qme' 'th' 'uk' 'ro'
 'si' 'it' 'qam' 'cy' 'zxx' 'ml' 'ne' 'mr' 'cs' 'qst' 'eu' 'bn' 'gu' 'is'
 'qht' 'fa' 'fi' 'ckb' 'el' 'hu' 'ur' 'sl' 'lt' nan 'art' 'pa' 'vi' 'kn'
 'sr' 'lv' 'or' 'iw' 'te' 'bg' 'sd']

In [10]:
a = negative['Language'].unique()

In [11]:
positive=pd.read_csv(r"D:\Data Sets\ML Assignment NLP\dataset\negative.csv",encoding="latin-1")
positive.drop(["Unnamed: 0"],axis='columns',inplace=True)

In [12]:
positive

                                                     Text Language
0       #BadBunny: Como dos gotas de agua: Joven se di...       es
1       It sucks for me since I'm focused on the natur...       en
2       @en_font Treballar a lâobra a partir dels 19...       ca
3       Social Security. Constant political crises dis...       en
4       @FilmThePoliceLA A broken rib can puncture a l...       en
...                                                   ...      ...
262215  @SBeaberry @EmmaVigeland No I haven't because ...       en
262216  Yâall talking bad on that dad feeding his on...       en
262217  8.SSR &amp; Disha Salian case should be solved...       en
262218  *ACCIDENT:  Damage Only* - Raleigh Fire Depart...       en
262219                         I'm lost and I'm found but       en

[262220 rows x 2 columns]

###### Above dataset `data3`contains all the positive tweets of having positive rows

uncertainty=pd.read_csv(r"D:\Data Sets\ML Assignment NLP\dataset\uncertainty.csv",encoding="latin-1")

In [14]:
uncertainty.drop(['Unnamed: 0'],axis='columns',inplace=True)

In [15]:
uncertainty

a = uncertainty['Language'].unique()
print(a)

['en' 'fr' 'ca' 'es' 'in' 'ja' 'tr' 'zh' 'pt' 'sv' 'ar' 'it' 'tl' 'ko'
 'hu' 'ht' 'pl' 'nl' 'et' 'qme' 'zxx' 'und' 'de' 'th' 'hi' 'fi' 'ru' 'cy'
 'lv' 'da' 'qam' 'fa' 'no' 'sl' 'cs' 'ro' 'si' 'is' 'vi' 'ur' 'el' 'lt'
 'art' 'eu' 'qht' 'uk' 'ta' 'kn'
 "[Photo(previewUrl='https://pbs.twimg.com/media/EPYG2rKVAAA1e_O?format=jpg&name=small', fullUrl='https://pbs.twimg.com/media/EPYG2rKVAAA1e_O?format=jpg&name=large')]"
 'mr']

In [16]:
uncertainty

                                                     Text Language
0       @ShawnTarloff @itsmieu you can also relate thi...       en
1       @co_fuckoff J'espere que Ã§a passera le plus v...       fr
2       ew its almost valentineâs day https://t.co/F...       en
3       @BlackMercury3 Iâm thinking that maybe Ironw...       en
4       @zoidberg95 Infinite Diversity in Infinite Com...       en
...                                                   ...      ...
206935  There is a bag of cheese hidden somewhere in m...       en
206936  @Treg2Cole Thatâs a hellz nah for me. ð¤¢. ...       en
206937  @Sam_Mallory El Mizouni and Roles in the same ...       en
206938  If you donât take risks youâll always end ...       en
206939  @michaelharriot If Friends were better he migh...       en

[206940 rows x 2 columns]

###### Above dataset `data4`contains all the uncertainty tweets of having 206940 rows

### concatinating all the 4 dataframes

In [17]:
data=pd.concat([litigious,negative,positive,uncertainty])

In [18]:
data

        Unnamed: 0                                               Text Language
0              0.0  @Charlie_Corley @Kristine1G @amyklobuchar @Sty...       en
1              2.0  https://t.co/YJNiO0p1JV Flagstar Bank disclose...       en
2              4.0  OOPS. I typed her name incorrectly (todayâs ...       en
3             14.0  @SaltBurned [When the first sign of surrender ...       en
4             27.0  "It's Your fight to save the UK from the liars...       en
...            ...                                                ...      ...
206935         NaN  There is a bag of cheese hidden somewhere in m...       en
206936         NaN  @Treg2Cole Thatâs a hellz nah for me. ð¤¢. ...       en
206937         NaN  @Sam_Mallory El Mizouni and Roles in the same ...       en
206938         NaN  If you donât take risks youâll always end ...       en
206939         NaN  @michaelharriot If Friends were better he migh...       en

[935529 rows x 3 columns]

In [19]:
data=data.reset_index()

#### reseting all the index values as we have concatinated many dataframes to one

In [20]:
data.drop(labels=['index','Unnamed: 0'],axis=1,inplace=True)

#### drop unnamed column

In [21]:
data['Language'].value_counts()

en                                                                                                                                                                      866940
fr                                                                                                                                                                       16023
es                                                                                                                                                                       11426
pt                                                                                                                                                                        9984
ja                                                                                                                                                                        5639
                                                                                                                                                                         ...
sr                                                                                                                                                                           4
iw                                                                                                                                                                           3
am                                                                                                                                                                           2
sd                                                                                                                                                                           2
[Photo(previewUrl='https://pbs.twimg.com/media/EPYG2rKVAAA1e_O?format=jpg&name=small', fullUrl='https://pbs.twimg.com/media/EPYG2rKVAAA1e_O?format=jpg&name=large')]         1
Name: Language, Length: 64, dtype: int64

In [54]:
import re
import emoji
from textblob import TextBlob
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer,WordNetLemmatizer

#### 1.Here we are using `regex` for removing unnecessary characters in text 
#### 2. `emoji` using this we are decoding the information from emoji present in the text
#### 3. `TextBlob` using textblob we are correcting the spelling of english words
#### 4. `Stem` using stemming we are storing the root word of a particular word 
#### 5. `tokenize` using this dividing paragraph or sentences  into tokens

In [22]:
data = data[data['Language']=='en']

#### convert to english

In [23]:
data

                                                     Text Language
0       @Charlie_Corley @Kristine1G @amyklobuchar @Sty...       en
1       https://t.co/YJNiO0p1JV Flagstar Bank disclose...       en
2       OOPS. I typed her name incorrectly (todayâs ...       en
3       @SaltBurned [When the first sign of surrender ...       en
4       "It's Your fight to save the UK from the liars...       en
...                                                   ...      ...
935524  There is a bag of cheese hidden somewhere in m...       en
935525  @Treg2Cole Thatâs a hellz nah for me. ð¤¢. ...       en
935526  @Sam_Mallory El Mizouni and Roles in the same ...       en
935527  If you donât take risks youâll always end ...       en
935528  @michaelharriot If Friends were better he migh...       en

[866940 rows x 2 columns]

In [24]:
data.isnull().sum()

Text        0
Language    0
dtype: int64

In [25]:
stop_words = stopwords.words("english")
stop_words.remove('not')

#### removing `not` in the stopwords

In [26]:
%%time
sentances = []
for i in data['Text']:
    word = []
    sent = i.lower()                           #first converting into lower case
    sent = emoji.demojize(sent)             #getting desired information from the emojis
    sent = re.sub('â€˜|â€™',"'",sent)         
    sent = re.sub('&amp;',"and",sent)
    sent = re.sub('<.*?>','',sent)                # removing unnecessary characters
    sent = re.sub('https?://\S*|www\S*','',sent)
    sent = re.sub(' @\w+| #\w+',"",sent)
    sent = re.sub("[^a-z0-9 ]","",sent)
    for i in word_tokenize(sent):                   #using word_tokenize dividing into words
        if i in stop_words:
            pass
        else:word.append(PorterStemmer().stem(i))  #neglecting the words which are in the stopwords
    sentances.append(" ".join(word))                 #Appending into the list

Wall time: 15min 23s

In [30]:
cleaned_text = pd.DataFrame({"cleaned_Text":sentances})

In [31]:
cleaned_text

                                             cleaned_Text
0       charliecorley testimoni not evid court law sta...
1       flagstar bank disclos data breach impact 15mil...
2       oop type name incorrectli today brave wit 6 7 ...
3       saltburn first sign surrend come michael smile...
4       fight save uk liar cheat charlatan steve bray ...
...                                                   ...
866935           bag chees hidden somewher hous aint talk
866936                   treg2col that hellz nah mayb fri
866937  sammallori el mizouni role team could realli g...
866938  dont take risk youll alway end work someon kin...
866939  michaelharriot friend better might notic compa...

[866940 rows x 1 columns]

#### bag of words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#### using `CountVectorizer` converting text into vectors

In [32]:
count_obj=CountVectorizer()
trans=count_obj.fit_transform(cleaned_text['cleaned_Text'][0:25000])
trans

<25000x42934 sparse matrix of type '<class 'numpy.int64'>'
	with 351485 stored elements in Compressed Sparse Row format>

In [33]:
%%time
array_count = trans.toarray()

Wall time: 557 ms

In [34]:
count_obj.vocabulary_

{'charliecorley': 8158,
 'testimoni': 37685,
 'not': 27235,
 'evid': 13930,
 'court': 9969,
 'law': 22291,
 'state': 36153,
 'feder': 14557,
 'must': 26164,
 'stand': 36081,
 'cross': 10299,
 'examin': 13980,
 'flagstar': 14930,
 'bank': 5082,
 'disclos': 11953,
 'data': 10836,
 'breach': 6607,
 'impact': 18854,
 '15million': 439,
 'individu': 19085,
 'oop': 28075,
 'type': 39633,
 'name': 26325,
 'incorrectli': 19011,
 'today': 38663,
 'brave': 6584,
 'wit': 41862,
 'probabi': 30486,
 'dont': 12357,
 'forget': 15197,
 'request': 32143,
 'saltburn': 33380,
 'first': 14854,
 'sign': 34909,
 'surrend': 36917,
 'come': 9093,
 'michael': 24962,
 'smile': 35335,
 'split': 35883,
 'face': 14241,
 'like': 22938,
 'sharp': 34576,
 'knife': 21740,
 'flesh': 14964,
 'would': 42175,
 'chill': 8337,
 'dean': 11072,
 'core': 9778,
 'ice': 18590,
 'cold': 8999,
 'exist': 14059,
 'natur': 26446,
 'archangel': 4115,
 'enj': 13461,
 'fight': 14732,
 'save': 33615,
 'uk': 39728,
 'liar': 22823,
 'cheat': 8198,
 'charlatan': 8145,
 'steve': 36297,
 'bray': 6594,
 'support': 36859,
 'retweetdirect': 32296,
 'legal': 22584,
 'case': 7684,
 'judiciarygop': 20921,
 'account2': 2437,
 'oathnic': 27538,
 'tri': 39176,
 'though': 38346,
 'ppl': 30149,
 'scare': 33710,
 'punta': 30898,
 'gorda': 16550,
 'sever': 34418,
 'antisemit': 3899,
 'flyer': 15045,
 'report': 32078,
 'seen': 34065,
 'accord': 2430,
 'local': 23237,
 'enforc': 13435,
 'garyklin': 15911,
 'jimmi': 20475,
 'jordan': 20774,
 'crimin': 10213,
 'defend': 11256,
 'purpos': 30933,
 'judiciari': 20919,
 'committe': 9147,
 'joauwa': 20564,
 'shit': 34703,
 'write': 42227,
 'inform': 19165,
 'year': 42504,
 'movi': 25852,
 'timelin': 38513,
 'came': 7365,
 'articl': 4287,
 'interview': 19443,
 'releas': 31920,
 'backlash': 4917,
 'shitti': 34715,
 'storytel': 36452,
 'isl': 19693,
 'mora': 25708,
 'area': 4139,
 '61': 1775,
 'sqkm': 35968,
 'popul': 29989,
 '169': 479,
 'terrain': 37636,
 'curs': 10501,
 'crumbl': 10338,
 'seamount': 33947,
 'mother': 25799,
 'told': 38730,
 'even': 13872,
 'settlement': 34308,
 'younger': 42679,
 'windswept': 41814,
 'garden': 15882,
 'pillowzac': 29570,
 'pleas': 29731,
 'take': 37188,
 'care': 7561,
 'brain': 6545,
 'hangov': 17265,
 'notttt': 27302,
 'fun': 15616,
 'proud': 30728,
 'entir': 13509,
 'hyper': 18496,
 'team': 37451,
 'pull': 30866,
 'togeth': 38702,
 'everyon': 13902,
 'cast': 7740,
 'crew': 10170,
 'made': 23775,
 'happen': 17293,
 'cool': 9720,
 'unfold': 39964,
 'realeubreak': 31520,
 'inject': 19222,
 'realism': 31527,
 'shown': 34812,
 'putin': 30955,
 'invad': 19488,
 'sovereign': 35713,
 'countryukraineaft': 9939,
 'frustrat': 15539,
 'silenc': 34938,
 'inact': 18941,
 'west': 41463,
 'regard': 31818,
 'minsk': 25236,
 'agreement': 2926,
 'atroc': 4559,
 'co': 8880,
 'chelsea': 8232,
 'contract': 9555,
 'offer': 27676,
 'ousman': 28333,
 'dembcopyrightlcopyrighthi': 11382,
 'futur': 15684,
 'barcelona': 5142,
 'ashokgehlot51': 4353,
 'sir': 35048,
 'two': 39592,
 'peopl': 29189,
 'punish': 30885,
 'indian': 19057,
 'lawbut': 22316,
 'way': 41263,
 'islam': 19695,
 'countri': 9924,
 'thempubl': 38000,
 'execut': 14028,
 'merci': 24825,
 'allow': 3288,
 'option': 28155,
 'given': 16263,
 'give': 16260,
 'shelter': 34634,
 'davidmacdougal': 10917,
 'text': 37721,
 'say': 33635,
 'noth': 27263,
 'finland': 14810,
 'sweden': 36998,
 'amend': 3455,
 'nation': 26421,
 'legisl': 22633,
 'connect': 9397,
 'turkey': 39498,
 'behest': 5498,
 'simpli': 34991,
 'refer': 31782,
 'current': 10497,
 'process': 30521,
 'disinform': 12010,
 'cbdc': 7831,
 'exchang': 14002,
 'place': 29648,
 'lcx': 22472,
 'interoper': 19426,
 'provid': 30743,
 'qnt': 31004,
 'overledg': 28457,
 'tennesse': 37595,
 'receiv': 31644,
 'million': 25149,
 'pharmaceut': 29417,
 'compani': 9182,
 'problematicpj': 30498,
 'major': 23895,
 'concern': 9279,
 'suffer': 36708,
 'clown': 8815,
 'show': 34801,
 'pointless': 29858,
 'alreadi': 3340,
 'announc': 3795,
 'referr': 31788,
 'texasguard': 37716,
 'look': 23345,
 'admiss': 2669,
 'activ': 2538,
 'one': 27965,
 'tpostmillenni': 38966,
 'keep': 21367,
 'turn': 39507,
 'anoth': 3818,
 '22m': 997,
 'trumpery45': 39324,
 'usdc': 40354,
 'central': 7947,
 'intermediari': 19415,
 'oper': 28105,
 'top': 38853,
 'secur': 34030,
 'transpar': 39091,
 'blockchain': 6136,
 'cours': 9961,
 'pay': 29010,
 'visa': 40857,
 'work': 42101,
 'scuderiaferrari': 33913,
 'hard': 17339,
 'white': 41600,
 '9newsau': 2163,
 'flag': 14926,
 'wave': 41259,
 'sidebysid': 34880,
 'posit': 30032,
 'forwardlook': 15263,
 'messag': 24862,
 'imo': 18848,
 'aborigin': 2306,
 'torr': 38888,
 'strait': 36468,
 'island': 19700,
 'presenc': 30318,
 'result': 32250,
 'british': 6819,
 'bad': 4938,
 'statement': 36171,
 'interest': 19394,
 'go': 16376,
 'get': 16129,
 'charg': 8119,
 'everi': 13890,
 'crime': 10184,
 'imagin': 18798,
 'specif': 35794,
 'defin': 11277,
 'hearsay': 17583,
 'gym': 17068,
 'teachersexu': 37446,
 'abus': 2378,
 'enabl': 13372,
 'argu': 4168,
 'th': 37748,
 'someon': 35550,
 'tell': 37555,
 'trump': 39311,
 'tamper': 37250,
 'assault': 4407,
 'polic': 29881,
 'offic': 27682,
 'briantylercohen': 6758,
 'isnt': 19707,
 'suprem': 36871,
 'realli': 31542,
 'believ': 5535,
 'rule': 33049,
 'davidcicillin': 10899,
 'embarrass': 13266,
 'make': 23906,
 'hide': 17854,
 'cant': 7457,
 'deal': 11057,
 'disagre': 11931,
 'resisthow': 32204,
 'hous': 18257,
 'let': 22726,
 'alon': 3320,
 'human07041776': 18387,
 'physic': 29500,
 'secret': 34013,
 'servic': 34274,
 'agent2': 2868,
 'tamperinglet': 37274,
 'know': 21755,
 'well': 41404,
 'treat': 39140,
 'commit': 9142,
 'offens': 27672,
 'cure': 10483,
 'cancerim': 7417,
 'sure': 36884,
 'respons': 32219,
 'age': 2855,
 'tweetsjk': 39558,
 'never': 26697,
 'use': 40359,
 'languag': 22170,
 'mhl': 24944,
 'recommend': 31681,
 'tweet': 39548,
 'taken': 37190,
 'agre': 2922,
 'that': 37768,
 'ask': 4376,
 'ab': 2231,
 'dobc': 12189,
 'find': 14785,
 'bsb': 6936,
 'code': 8928,
 'conductjk': 9332,
 'ye': 42498,
 'caus': 7803,
 'im': 18788,
 'gemma': 16026,
 'defens': 11261,
 'want': 41154,
 'fella': 14603,
 'who': 41630,
 'gon': 16480,
 'na': 26266,
 'weekend': 41362,
 'friend': 15469,
 'sit': 35077,
 'home': 18107,
 'mean': 24608,
 'fault': 14475,
 '16': 447,
 'yet': 42578,
 'natesilver538': 26411,
 'actual': 2562,
 'hold': 18069,
 'politician': 29919,
 'account': 2436,
 'behavior': 5487,
 'good': 16497,
 'circumst': 8559,
 'wouldnt': 42180,
 'along': 3322,
 'qatar': 30986,
 'airway': 3022,
 'ceo': 7958,
 'akbar': 3063,
 'al': 3090,
 'baker': 5006,
 'indic': 19067,
 'carrier': 7650,
 'might': 25056,
 'prepar': 30295,
 'end': 13399,
 'clash': 8664,
 'airbu': 2999,
 'answer': 3826,
 'reach': 31475,
 'alway': 3378,
 'read': 31487,
 'oldeconomi': 27860,
 'dividend': 12108,
 'guy': 17046,
 'crypto': 10358,
 'crash': 10115,
 'distribut': 12082,
 'ledger': 22544,
 'dlt': 12153,
 'centuri': 7957,
 'old': 27857,
 'updat': 40220,
 'internetblockchain': 19421,
 'power': 30127,
 'tool': 38827,
 'financi': 14783,
 'transactionssettlementsecur': 39055,
 'etc': 13760,
 'among': 3521,
 '14': 342,
 'ronfilipkowski': 32842,
 'obvious': 27597,
 'statur': 36202,
 'possess': 30042,
 'impeach': 18864,
 'thing': 38225,
 'left': 22567,
 'gop': 16531,
 'playbook': 29702,
 'theyr': 38196,
 'basic': 5237,
 'screw': 33892,
 'new': 26709,
 'hampshir': 17220,
 'governor': 16609,
 'restrict': 32245,
 'gun': 16997,
 'control': 9682,
 'newhampshir': 26723,
 'broomysince2003': 6871,
 'he': 17516,
 'condemn': 9304,
 'broke': 6849,
 'went': 41449,
 'protest': 30705,
 'outcom': 28344,
 'elect': 13140,
 'anyon': 3943,
 'moral': 25710,
 'intuit': 19484,
 'societ': 35461,
 'conclus': 9296,
 'enough': 13474,
 'decis': 11172,
 'said': 33300,
 'think': 38247,
 'asshol': 4428,
 'hook': 18172,
 'easi': 12869,
 'littl': 23110,
 'itali': 19761,
 'disband': 11942,
 'thaurissan': 37806,
 'dramirkhangp': 12525,
 'blatant': 6076,
 'intern': 19416,
 '3dancingmaiden': 1409,
 'davi': 10883,
 'group': 16852,
 'global': 16325,
 'reset': 32181,
 'requir': 32145,
 'nationst': 26432,
 'tumbl': 39466,
 'openbord': 28091,
 'fentanyl': 14632,
 'inflat': 19147,
 'shortag': 34763,
 'lockdown': 23249,
 'etcther': 13773,
 'institut': 19338,
 'rise': 32591,
 'expens': 14099,
 'joyhenningsenmd': 20845,
 'magic': 23833,
 'black': 6015,
 'spell': 35817,
 'mani': 24032,
 'turgid': 39496,
 'fear': 14537,
 'will': 41749,
 'self': 34095,
 'poison': 29865,
 'love': 23454,
 'truli': 39308,
 'upset': 40268,
 'philippaperri': 29447,
 'open': 28089,
 'equilibrium': 13599,
 'longterm': 23340,
 'relationship': 31912,
 'parti': 28808,
 'trust': 39360,
 'impli': 18881,
 'parkjayrockstar': 28784,
 'mono': 25636,
 'awar': 4777,
 'cathart': 7770,
 'cri': 10174,
 'fire': 14824,
 'stone': 36401,
 'omega': 27922,
 'revolut': 32337,
 'josinaanderson': 20826,
 'heck': 17630,
 'nfl': 26805,
 'negoti': 26586,
 'disciplin': 11949,
 'camp': 7377,
 'firsthand': 14858,
 'freebeacon': 15408,
 'wasnt': 41217,
 'illeg': 18748,
 'didnt': 11795,
 'btw': 6970,
 'lost': 23413,
 'job': 20565,
 'sux': 36964,
 'max': 24448,
 'verstappen': 40687,
 'father': 14463,
 'call': 7338,
 'lewi': 22776,
 'hamilton': 17208,
 'red': 31718,
 'bull': 7043,
 'race': 31156,
 'audac': 4633,
 'joke': 20709,
 'silvermanjacob': 34957,
 'base': 5217,
 'complet': 9223,
 'misunderstand': 25376,
 'concept': 9275,
 'trustless': 39370,
 'comput': 9261,
 'attempt': 4577,
 'extend': 14153,
 'misunderstood': 25377,
 'financein': 14782,
 'practic': 30154,
 'reli': 31934,
 'tradfi': 39010,
 'protec': 30689,
 'terikanefield': 37615,
 'speak': 35776,
 'j6': 19926,
 'crowd': 10316,
 'friendlier': 15471,
 'respect': 32213,
 'sirw': 35067,
 'faculti': 14283,
 'member': 24755,
 'assist': 4433,
 'professor': 30557,
 'basi': 5236,
 '10': 113,
 'punjabi': 30890,
 'univers': 40033,
 'patiala': 28894,
 'regularis': 31862,
 'bhagwantmann': 5780,
 'question': 31073,
 'lol': 23293,
 'msolurin': 25966,
 'establish': 13737,
 'preced': 30201,
 'vaccin': 40477,
 'directli': 11910,
 'violat': 40819,
 'bodili': 6269,
 'autonomi': 4716,
 'abort': 2309,
 'ban': 5056,
 'consist': 9449,
 'success': 36681,
 'odd': 27637,
 'talk': 37214,
 'testifi': 37677,
 'januari': 20119,
 '6th': 1868,
 'real': 31504,
 'note': 27255,
 'ive': 19887,
 'super': 36807,
 'trigger': 39216,
 'recent': 31646,
 'chang': 8085,
 'live': 23119,
 'canada': 7397,
 'howev': 18294,
 'sometim': 35563,
 'vent': 40643,
 'help': 17695,
 'feel': 14581,
 'doom': 12372,
 'gloom': 16337,
 'post': 30056,
 'poorli': 29973,
 'shorteststop': 34771,
 'astro': 4472,
 'hit': 17986,
 'rest': 32228,
 'leagu': 22500,
 'includ': 18984,
 'yanke': 42456,
 'sox': 35722,
 '2017': 801,
 'ws': 42266,
 'playersi': 29710,
 'mistak': 25358,
 'ten': 37578,
 'fee': 14574,
 'paid': 28608,
 'openingclosingsettl': 28096,
 'transact': 39054,
 'layer': 22452,
 '2s': 1213,
 'lightn': 22925,
 'networkworri': 26684,
 'blockspac': 6144,
 'demand': 11369,
 'deploy': 11486,
 'network': 26681,
 'wast': 41221,
 'time': 38497,
 'ragashanti': 31213,
 'teach': 37444,
 'hope': 18191,
 'watch': 41226,
 'jan6': 20084,
 'hear': 17548,
 'spill': 35851,
 'tea': 37442,
 'mention': 24802,
 'pon': 29951,
 'bridg': 6767,
 'youtub': 42713,
 'tamfam': 37243,
 'radio': 31187,
 'edrm': 12984,
 'guid': 16955,
 'challeng': 8055,
 'landscap': 22158,
 'ediscoveri': 12970,
 'dbrm': 11006,
 'complex': 9230,
 'view': 40766,
 'full': 15600,
 'length': 22677,
 'introduct': 19479,
 'video': 40757,
 'click': 8743,
 'coreybk': 9781,
 'damn': 10696,
 'near': 26529,
 'choke': 8383,
 'drink': 12578,
 'heard': 17549,
 'rage': 31215,
 'lunat': 23624,
 'day': 10959,
 'brutal': 6914,
 'death': 11092,
 'engag': 13444,
 'tamperingh': 37263,
 'absolut': 2360,
 'loyalti': 23487,
 'minion': 25214,
 'pardon': 28761,
 'returnth': 32294,
 'former': 15223,
 'presid': 30329,
 'unit': 40020,
 'ident': 18636,
 'mob': 25484,
 'bossh': 6435,
 'familyjanuary6thhear': 14363,
 'stevenmv22': 36318,
 'definit': 11279,
 'realist': 31528,
 'move': 25846,
 'mcginn': 24543,
 'shot': 34780,
 '55': 1690,
 'mil': 25118,
 'healthi': 17543,
 'big': 5836,
 'least': 22523,
 'decent': 11160,
 'middlesix': 25028,
 'winger': 41817,
 'harder': 17346,
 'replac': 32061,
 'pretti': 30368,
 '4th': 1607,
 'lin': 22993,
 'seriouswhi': 34262,
 'georg': 16091,
 'washington': 41209,
 'repeatedli': 32047,
 'outright': 28403,
 'lie': 22870,
 'distort': 12078,
 'due': 12684,
 'partisan': 28823,
 'bia': 5804,
 'kellybel': 21399,
 'correct': 9818,
 'congress': 9373,
 'codifi': 8943,
 'halfbrain': 17176,
 'gm': 16358,
 'could': 9886,
 'see': 34052,
 '4m': 1597,
 'total': 38905,
 'per': 29219,
 'themadridzon': 37960,
 'shd': 34601,
 'anyth': 3946,
 '30': 1224,
 'next': 26790,
 'egregi': 13059,
 'peac': 29072,
 'need': 26555,
 'dealt': 11071,
 'harshli': 17398,
 'emperor': 13336,
 'back': 4900,
 'germani': 16117,
 'straight': 36461,
 'mainz': 23890,
 'convict': 9702,
 'rebel': 31616,
 'leader': 22485,
 'perman': 29263,
 'exil': 14057,
 'abbot': 2246,
 'strip': 36539,
 'rank': 31330,
 'monasteri': 25585,
 'dissolv': 12069,
 'sunday': 36771,
 '19': 593,
 'june': 20970,
 '2022': 825,
 'marks1689': 24229,
 'wrong': 42239,
 'imprisonment1689': 18908,
 'tortur': 38893,
 '1689': 478,
 'human': 18386,
 'right': 32483,
 'breach1689': 6608,
 'injustice1689': 19229,
 'arbitrari': 4101,
 'detentionno': 11630,
 'evidenceno': 13940,
 'convictionfreejagginow': 9706,
 'jackduffin': 19957,
 'push': 30943,
 'watson': 41255,
 'yr': 42724,
 '46': 1548,
 '2024': 867,
 'brown': 6884,
 '23': 1002,
 'hed': 17632,
 'play': 29698,
 '62': 1785,
 'minu': 25244,
 'wo': 42013,
 'bondoil23': 6339,
 'biden': 5822,
 'ever': 13884,
 'convers': 9694,
 'son': 35572,
 'publish': 30849,
 'there': 38070,
 'incrimin': 19021,
 'alvarezszn2022': 3374,
 'fuckin': 15573,
 'wors': 42160,
 'mate': 24354,
 'woodland': 42069,
 'township': 38947,
 'applic': 4042,
 'talent': 37205,
 'park': 28780,
 'recreat': 31710,
 'depart': 11477,
 'instructor': 19342,
 'becom': 5422,
 'contractor': 9628,
 'visit': 40870,
 'guardiannew': 16938,
 'wait': 41071,
 'arm': 4197,
 'ar15': 4083,
 'dc': 11009,
 'known': 21767,
 'nobodi': 27048,
 'arrest': 4250,
 'prior': 30435,
 'proftomkin': 30575,
 'govern': 16594,
 'russian': 33113,
 'bought': 6462,
 'philand': 29436,
 'racist': 31173,
 'yeah': 42500,
 'desper': 11592,
 'stuff': 36581,
 'mic91051517': 24958,
 'trial': 39178,
 'swear': 36992,
 'shouldnt': 34795,
 'vote': 40959,
 'ok': 27823,
 'news': 26735,
 'day1': 10961,
 'meadow': 24597,
 'guliani': 16988,
 'sought': 35663,
 'jan': 20082,
 'knew': 21731,
 'weapon': 41315,
 'march': 24116,
 'capit': 7487,
 '63': 1807,
 'intimid': 19454,
 'tampering4': 37254,
 '50': 1617,
 'dead': 11040,
 'migrant': 25062,
 'semi': 34145,
 'texa': 37712,
 'val5linx': 40503,
 'corrupt': 9831,
 'speakervo': 35780,
 'betray': 5717,
 'deep': 11219,
 'of': 27656,
 'lawsuit': 22405,
 'wi': 41677,
 'whether': 41573,
 'contradictori': 9669,
 'set': 34285,
 'argument': 4173,
 '15': 377,
 'disclosur': 11954,
 'main': 23879,
 'attorney': 4601,
 'gener': 16040,
 'occur': 27613,
 'dec': 11137,
 '2021': 815,
 'discov': 11967,
 'mi': 24948,
 'creativegal2': 10146,
 'voter': 40966,
 'everyth': 13908,
 'except': 13994,
 'phone': 29473,
 'number': 27427,
 'parthow': 28807,
 'got': 16570,
 'couldv': 9891,
 'tenantsdamn': 37584,
 'licens': 22860,
 'highli': 17878,
 'train': 39035,
 'owner': 28522,
 'conclusionheard': 9297,
 'multitud': 26084,
 'issu': 19727,
 'chargerssiemen': 8126,
 'bosch': 6427,
 'elit': 13194,
 'electrif': 13155,
 'muchtesla': 26006,
 'supercharg': 36813,
 'proven': 30738,
 'reliabl': 31935,
 'award': 4778,
 'tesla': 37669,
 'equip': 13600,
 'aid': 2972,
 'action': 2522,
 'dydx': 12808,
 'trade': 38991,
 'settl': 34304,
 'instantli': 19328,
 'instead': 19331,
 'counterparti': 9914,
 'datebut': 10854,
 'unlik': 40062,
 'regular': 31860,
 'perp': 29276,
 'expiri': 14116,
 'date': 10853,
 'trader': 39002,
 'whiterabbitt51': 41612,
 'brenda': 6712,
 'lucki': 23562,
 'hid': 17849,
 'book': 6365,
 'appli': 4041,
 'liber': 22837,
 'occas': 27603,
 'wonder': 42051,
 'broken': 6851,
 'firelucki': 14839,
 'break': 6671,
 'dembcopyrightlcopyright': 11380,
 'decid': 11167,
 'immin': 18838,
 'reduc': 31753,
 'salari': 33356,
 'deallequip': 11066,
 'via': 40707,
 'camera': 7367,
 'staff': 36040,
 'forc': 15153,
 'ukrain': 39746,
 'armi': 4212,
 'aviat': 4754,
 'troop': 39262,
 'regain': 31815,
 'potiomkyn': 30100,
 'kherson': 21519,
 'region': 31829,
 'fail': 14293,
 'retreat': 32278,
 'becca2bbarn': 5412,
 'zero': 42828,
 'capitol': 7492,
 'what': 41517,
 'strang': 36471,
 'epp': 13580,
 'encourag': 13395,
 'other': 28287,
 'knock': 21750,
 'fenceswhich': 14625,
 '20': 756,
 'minut': 25245,
 'fini': 14806,
 'thetimesscot': 38168,
 'ill': 18746,
 'gladli': 16280,
 'referendum': 31786,
 'win': 41795,
 'greedi': 16742,
 'warden': 41168,
 'tle1011': 38611,
 'bulli': 7052,
 'petul': 29388,
 'man': 23987,
 'cater': 7768,
 'wish': 41859,
 'matter': 24389,
 'rumour': 33069,
 'salah': 33353,
 'true': 39300,
 'mrmickeyc123': 25914,
 'reason': 31593,
 'explain': 14118,
 'georgetakei': 16102,
 'mustard': 26169,
 'bjerregaardkai': 5996,
 'fut': 15679,
 'your': 42692,
 'bind': 5917,
 'partner': 28827,
 'prevent': 30376,
 'accomplic': 2426,
 'undermin': 39890,
 'ador': 2684,
 'separ': 34219,
 'rapidli': 31359,
 'exaccomplic': 13966,
 'fulfil': 15598,
 'bed': 5428,
 'remov': 31996,
 'misfortun': 25310,
 'menstrual': 24794,
 'difficulti': 11826,
 'seed': 34054,
 'fitra': 14883,
 'primordi': 30416,
 'divin': 12109,
 'coven': 10012,
 'realm': 31554,
 'soul': 35666,
 'plant': 29674,
 'earth': 12861,
 'grow': 16864,
 'biolog': 5937,
 'heart': 17600,
 'also': 3347,
 'parent': 28769,
 'sacr': 33234,
 'devast': 11655,
 ...}

In [35]:
pd.DataFrame(array_count,columns=sorted(count_obj.vocabulary_))

,00,000,000001,0007,001,0047,004coinmarketcap,006,007,007anoth,...,zumwalt,zuneth,zuwairahnasir,zyagle09,zychaxrma,zygotes3,zylstra,zzztyler,zzzz,zzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### TF-IDF

In [37]:
tf= TfidfVectorizer()
trans_tf = tf.fit_transform(cleaned_text['cleaned_Text'][0:5000])
trans_tf

<5000x14164 sparse matrix of type '<class 'numpy.float64'>'
	with 69322 stored elements in Compressed Sparse Row format>

In [41]:
pd.DataFrame(trans_tf.toarray(),columns=sorted(tf.vocabulary_.keys()))

,0047,007,01,02906for,030,033,036,038crypto,042,05,...,zoomcarindia,ztpetrizzo,zu,zubac,zubair,zuneth,zuwairahnasir,zychaxrma,zygotes3,zylstra
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

in countvectorizer (bag of words) and tfidfvectorizer(TF-IDF) i have reduced datapoints because of memory problem so i have limited to 25000 rows in countvectorizer instead of 866940 and 5000 in tfidfvectorizer